*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
h2{
    margin-top: 50px;
    text-align: center;
    color: #0c88a2;
    font-size: 50px;
}
a{
    color: black;
    text-decoration: none;
}
h3{
    color: #F2BD23;
    font-size: 50px;
    text-align: center;
    margin: 20px;
    max-width: 65%;
}
h4{
    margin: 0px 0px 10px 0px;
}
ul{
    list-style: none;
}
.menu{
    max-width: 100%;
    margin: auto;
    font-size: 20px;
    background-color: #0c88a2;
}
.title{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.container {
    width: 1190px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section{
    position: relative;
}
.section__circle{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /* background-color: blue; */
}
.section__sun{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 10px;
}


.title__child{
    position: relative;
}
.title__child a{
    padding: 6px 10px;
    display: block;
}
.item{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    width: 140px;
    background-color: #e7e55c;
    transition: all 0.3s;
    opacity: 0;
    top: 150%;
}
.title__child:hover>a{
    background-color: white;
}
.title__child:hover .item{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.item>a:hover{
    background-color: red;
}






.Typical-projects{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #003743;
    align-items: center;
    justify-content: center;
}
.document{
    color: white;
    font-size: 20px;
    margin: 20px;
    max-width: 65%;
}
.document p{
    text-align: center;
}
.box{
    display: flex;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    max-width: 80%;
    flex-wrap: wrap;
}
.box a{
    color: hwb(0 100% 0%);
}
.box__link{
    font-size: 20px;
}
.box__project{
    display: flex;
    width: 33.3333333%;
    padding: 15px;
    box-sizing: border-box;
}
.box__project__content{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30px;
}
.box__text{
    position: absolute;
    /* background-color : rgba(12, 136, 161, 0.7); r: red, g: green, b: blue */
    background-image: linear-gradient(transparent, rgba(12, 136, 161, 1));
    border-radius: 25px;
    padding: 50px 20px 30px 20px;
    left: 0;
    right: 0;
    bottom: 0;
} 
.box__text p{
    margin: 0px 0px 10px 0px ;
}
.box__image{
    border-radius: 25px;
    transition: all 0.3s;
}
.box__project__content:hover .box__image {
    transform: scale(1.2);
    /* 1.2 = 120% */
}

.block {   
    display: flex;
    max-width: 80%;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}
.block {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.block__image{
    width: 30%;
}
.block__link{
    width: 70%;
}
.text, .block__link p{
    padding-left: 30px;
}
.block__info{
    width: 70%;
    padding-left: 30px;
}
.block__info__link{
    font-size: 20px;
}
.image{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

#test-iframe{
    width: 80%;
    height: 400px;
    background-color: red;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
form{
    width: 30%;
    padding: 10px;
    border: 5px solid #333;
}

.information{
    /* width: 35%; */
    display: flex;
    padding-bottom: 10px;
}
#name, #phone{
    border-radius: 8px;
}

.information__firt{
    width: 50%;
}
.information__firt input{
    height: 20px;
}
.information__second{
    width: 50%;
}
.topic, .note{
    padding-bottom: 10px;
}
.note textarea{
    width: 100%;
    border-radius: 10px;
}
button{
    width: 100px;
    height: 30px;
    background-color: #0c88a2;
    color: white;
    border-radius: 20px;
}
.button{
    text-align: end;
}
.button :hover{
    background-color: rgb(0, 98, 255);
}
.table{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
table{
    width: 70%;
    align-content: center;
    border-collapse: collapse;
}
tr, th, td{
    border: 1px solid #333;

}

@media (max-width: 576px) {
.box__project{width: 100%;}   
.block__image{width: 100%;} 
.block {display: block;}
.block__link{
    width: 100%;
    text-align: center;
}
}
@media (min-width: 576px) and (max-width: 992px){
.box__project{width: 50%;}
}
