*{
    padding: 0;
    margin: 0;
}
h2{
    margin-top: 50px;
    text-align: center;
    color: #0c88a2;
    font-size: 50px;
}
a{
    color: black;
    text-decoration: none;
}
h3{
    color: #F2BD23;
    font-size: 50px;
    text-align: center;
    margin: 20px;
    max-width: 65%;
}
h4{
    margin: 0px 0px 10px 0px;
}
ul{
    list-style: none;
}
.menu{
    max-width: 100%;
    margin: auto;
    font-size: 20px;
    background-color: #0c88a2;
}
.title{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.title__child{
    margin: 10px;
}
.item{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;position: absolute;
}
.item a{
    background-color: white;
}
.title__child:hover a{
    background-color: white;
}
.title__child:hover .item{
    visibility: visible;
    background-color: white;
    transition: all 0.5s;
}






.Typical-projects{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #003743;
    align-items: center;
    justify-content: center;
}
.document{
    color: white;
    font-size: 20px;
    margin: 20px;
    max-width: 65%;
}
.document p{
    text-align: center;
}
.box{
    display: flex;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    max-width: 80%;
}
.box a{
    color: white;
}
.box__link{
    font-size: 20px;
}
.box__project{
    display: flex;
    width: 33,3333333%;
    position: relative;
    margin: 20px;
    box-sizing: border-box;
}
.box__text{
    position: absolute;
    top: 156px;
    background-color : #0c88a2;
    border-radius: 25px;
    padding: 50px 20px 30px 20px;
} 
.box__text p{
    margin: 0px 0px 10px 0px ;
}
.box__image{
    width: 370px;
    border-radius: 25px;
    transition: all 0.3s;
}
.box__image:hover {
}







.block {   
    display: flex;
    max-width: 80%;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
}

.block__image{
    width: 30%;
}
.block__link{
    width: 70%;
}
.text{
    font-size: 20px;
}
.image{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}