:root{
    --main-color: #0c88a2;
    --secondary-color: #f2bd23;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.block__title{
    margin: 20px;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
.block__description{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.block__content{
    padding: 20px auto;
}
.text_color_1{
    color: var(--secondary-color);
}
.text_color_2{
    color: var(--main-color);
}

.menu{
    max-width: 100%;
    margin: auto;
    font-size: 20px;
    background-color: #0c88a2;
}
.menu ul{
    list-style: none;
}
.menu a{
    color: black;
    text-decoration: none;
}
.title{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}
.container {
    width: 1190px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section{
    position: relative;
}
.section__circle{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /* background-color: blue; */
}
.section__sun{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 10px;
}


.title__child{
    position: relative;
}
.title__child a{
    padding: 6px 10px;
    display: block;
}
.item{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    width: 140px;
    background-color: #e7e55c;
    transition: all 0.3s;
    opacity: 0;
    top: 150%;
}
.title__child:hover>a{
    background-color: white;
}
.title__child:hover .item{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.item>a:hover{
    background-color: red;
}






.typical_projects{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    background-color: #003743;
    align-items: center;
    justify-content: center;
}

.document{
    color: white;
}
.box__link{
    font-size: 20px;
}
.text-primary{
    color: var(--secondary-color);
}
.box__project__content{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.box__text{
    position: absolute;
    /* background-color : rgba(12, 136, 161, 0.7); r: red, g: green, b: blue */
    background-image: linear-gradient(transparent, rgba(12, 136, 161, 1));
    border-radius: 25px;
    padding: 50px 20px 30px 20px;
    left: 0;
    right: 0;
    bottom: 0;
} 
.box__text a{
    text-decoration: none;
}
.box__text p{
    margin: 0px 0px 10px 0px ;
}
.box__image{
    border-radius: 25px;
    transition: all 0.3s;
    width: 100%;
}
.box__project__content:hover .box__image {
    transform: scale(1.2);
    /* 1.2 = 120% */
}

.news_and_events h2{
    color: var(--main-color);
}

.blog {   
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 20px auto;
}
.blog a{
    color: black;
    text-decoration: none;
}

.blog__image{
    width: 30%;
}
.blog__link{
    width: 70%;
}
.text, .blog__link p{
    padding-left: 30px;
}
.blog__info{
    width: 70%;
    padding-left: 30px;
}
.blog__info__link{
    font-size: 20px;
}
.image{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.towards__text__content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.towards__content{
    max-width: 50%;
    width: 100%;
}

.towards__item{
    text-align: center;
    margin-bottom: 20px;
}
.towards__item__child{
    font-weight: 800;
    font-size: 30px;
    color: #0c88a2
}
.iframe{
    max-width: 100%;
    width: 100%;
    height: auto;
}


.development_field_image a{
    display: block;
    position: relative;
    text-align: center;
}
.development_field_image a p{
    position: absolute;
    width: 100%;
    bottom: 20px;
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.development_field_image img{
    transform: all 0.3s;
}
.development_field_image:hover img{
    margin-top: -20px;
    
}
